.VPNavBarMenu .VPNavBarMenuLink {
  font-size: 1rem;      /* 调整为你想要的大小 */
  font-weight: 500;
}

/* 只修改 logo 图片大小和圆角 */
.VPNavBarTitle .VPImage,  .VPLogo {
  width: 36px;
  height: 36px;
  border-radius: 50%; /* 你可以改为50%变圆 */
  margin-right: 10px;
}
/* 只给首页 index.md 添加背景图和虚化 */
.VPHome {
  position: relative;
  z-index: 0;
}
.VPHome::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.6;
  filter: blur(6px) brightness(1); /* 默认亮色 */
  transition: filter 1s;
  pointer-events: none;
}

/* 黑暗模式下变暗并加色调 */
.dark .VPHome::before {
  background: none;
}